<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Port" value="10010" />
    <add key="ExpectedSourceIpAddress" value="127.0.0.1" />
    <add key="ExpectedUserName" value="un" />
    <add key="ExpectedPassword" value="pw" />
    <add key="Command" value="c:\dbtemp\TestConsoleApp.exe" />
    <add key="ServerIpAddress" value="127.0.0.1" />  <!-- or leave empty to autodetect -->
    <add key="SourceAddressCheckEnabled" value="true" />  <!-- true/false -->
    <add key="UseRemoteCommand" value="true" />  <!-- true/false -->
  </appSettings>
</configuration>